body { 
	margin: 0;
	padding: 0;
    background: #fff;
    font: 14px/18px; 
    font-family: 'Lato', sans-serif;
    color: #000; 
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: none;
}

footer {
	margin: 0;
	padding: 0;
	background: #ecf0f1;
}

hr {
	margin-top: 10px;
}

.row {
	margin-bottom: 20px;
}

#header {
	background: #252729;
	height: 56px;
	line-height: 56px;
}

.branding {
	position: relative;
	top: 5px;
}

ul.main-nav, ul.main-nav li {
	list-style: none;
	font-weight: bold;
	font-size: 0.960em;
	color: white;
	display: inline;
	width: 100px;
	margin: 0;
	padding: 0; 
	text-align: center;
}

ul.main-nav li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #a6a7a9; 
	background-color: #252729; 
}

ul.main-nav li a:hover { 
	color: #fff; 
	background-color: #dc3d31; 
}

.search {
	position: relative;
	top: 5px;
	margin-left: 40px;
}

#ad {
	margin: 20px 0;
}

.masthead {
	background: #ecf0f1;
	padding: 2px;
}

.masthead ul {
	padding: 10px;
}

.masthead ul li {
	list-style: none;
	display: inline;
	width: 100%;
	margin: 0;
	padding: 4px;
	text-align: center;
}

.rednav a {
	color: #dc3d31;
	text-decoration: none;
}

.greynav {
	color: #7f8c8d;
	text-decoration: none;
}

#content h1 {
	font-family: "Lato", sans-serif;
	font-size: 2.2em;
	font-weight: bold;
	margin-bottom: 10px;

}

p .highlight {
	color: #dc3d31;
}

#content p .dark {
	color: #7f8c8d;
}

ul.social, ul.social li {
	list-style: none;
	display: inline;
	width: 100px;
	margin-top: 20px;
	padding: 4px;
}

.freq {
	font-size: 0.800em;
}

#picture {
	margin: 20px 0;
}

.title {
	font-size: 1.5em;
}

h2 {
	margin: 10px 0;
	color: #313539;
}

p.first:first-letter {
	font-size: 250%;
}

p.first:first-line {
	line-height: 400%;
}

p {
	line-height: 1.5em;
	margin-bottom: 40px;
}

ul.list { 
	margin-bottom: 30px; 
}

ul.list li {
	margin: 0;
	list-style: none;
	display: inline;
}

ul.list li a {
	margin: 0;
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #45494c;
	border-radius: 4px;
}

#avi {
	margin-top: 20px;
}

#avi2 {
	margin-top: 20px;
}

h5 {
	color: #8f9a9b;
	margin: 10px;
	font-weight: bold;
}

em {
	font-style: italic;
}

.masthead_2 {
	background: #ecf0f1;
	padding: 40px 10px;
	margin: 20px 0;
}

.masthead_2 p {
	font-family: 'Lato', sans-serif;
	list-style: none;
	color: #54575a;
	line-height: 120%;
	font-size: 0.800em;
	margin: 10px;
	padding: 0;
	text-align: left;
}

h3 {
	font-size: 1.5em;
	margin-top: 20px;
	margin-left: 20px;
}

h4 {
	font-size: 1em;
	margin-top: 20px;
	margin-left: 20px;
	font-weight: bold;
}
p.info {
	margin-left: 20px;
}

.related {
	background: #ecf0f1;
	padding: 10px;
}

h6 {
	font-weight: bold;
	color: #7f8c8d;
	margin-top: 10px;
	margin-left: 20px;
}

a.one {
	padding: 0.600em;
	text-decoration: none;
	font-size: 1em;
	color: #313539;
	text-align: center;
}

#submit {
	color: #fff;
	font-size: 0.750em;
	background: red;
	padding: 10px;
	border-radius: 6px;
}

#space {
	margin-top: 20px;
}