body { 
	margin: 0;
	padding: 0;
    background: #fff;
    font: 14px/18px; 
    font-family: 'Lato', sans-serif;
    color: #000; 
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: none;
}

.row {
	margin-bottom: 20px;
}

#header {
	background: #252729;
	height: 56px;
	line-height: 56px;
}

ul.main-nav, ul.main-nav li {
	list-style: none;
	font-weight: bold;
	font-size: 0.915em;
	color: white;
	display: inline;
	width: 100px;
	margin: 4px ;
	padding: 0; 
	text-align: center;
}

ul.main-nav li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #252729; 
}

ul.main-nav li a:hover { 
	color: #fff; 
	background-color: #dc3d31; 
}

.search {
	position: relative;
	top: 6px;
}

#ad {
	margin: 20px 0;
}

.masthead {
	background: #ecf0f1;
	padding: 2px;
}

.masthead ul li {
	list-style: none;
	display: inline;
	width: 100px;
	margin: 5px;
	padding: 0;
	text-align: center;
}

.rednav a {
	color: #dc3d31;
	text-decoration: none;
}

.greynav {
	color: #7f8c8d;
	text-decoration: none;
}

#content h1 {
	font-weight: bold;
	margin-bottom: -10px;

}

#content p .highlight {
	color: #dc3d31;
}

#content p .dark {
	color: #7f8c8d;
}

 ul.social, ul.social li {
	list-style: none;
	display: inline;
	width: 100px;
	margin: 4px;
	padding: 0;
}

.freq {
	font-size: 0.800em;
}

#picture {
	margin: 10px 0;
}

h2 {
	margin: 10px 0;
	color: #313539;
}

h4 {
	color: #8f9a9b;
	margin: 10px;
}

.masthead_2 {
	background: #ecf0f1;
	padding: 10px;
	margin: 10px 0;
}

.masthead_2 p {
	font-family: 'Lato', sans-serif;
	list-style: none;
	color: #54575a;
	line-height: 120%;
	font-size: 0.800em;
	margin: 10px;
	padding: 0;
	text-align: left;
}
